<?xml version="1.0"?>

<launch>

 <!-- For setting debug level to debug   -->

  <!-- Command line arguments -->
  <arg name="world_name" default="lake_buoy.world" />
  <arg name="name" default="kingfisher" />
  <arg name="imu" default="true" />
  <arg name="gps" default="true" />
  <arg name="p3d" default="true" />
  <arg name="water_level" default="0.0" />
  <arg name="microstrain" default="false" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="6.0" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="0" />

  
  <param name="use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find kingfisher_gazebo)/worlds/lake_buoy.world"/>-->
    <arg name="world_name" value="$(find bamboo_lake_gazebo)/worlds/all_model.world"/>
    <arg name="verbose" value="true"/>
  </include>
  

 </launch>
