<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="kingfisher">

  <!-- Defines the "kingfisher_base" macro -->
  <xacro:include filename="$(find kingfisher_gazebo)/urdf/kingfisher_urdf.xacro" />
  <!--<xacro:include filename="$(find kingfisher_gazebo)/urdf/kingfisher_urdf_camera.xacro" />-->
  <!-- Defines the "usv_gazebo" macro which implements the plugin for USV dynamics -->
  <xacro:include filename="$(find usv_gazebo_plugins)/urdf/usv_gazebo_dynamics_plugin.xacro" />
  <!-- Testing old plugin -->
  <!--<xacro:include filename="$(find kingfisher_plugins)/urdf/kingfisher_plugin.xacro" />-->
  
  <!-- Add Gazebo sensor plugin -->
  <xacro:include filename="$(find kingfisher_gazebo)/urdf/camera_gazebo.gazebo" />
  <xacro:include filename="$(find kingfisher_gazebo)/urdf/p3d_gazebo.gazebo" />

  <!-- includes basic description witout plugins -->
  <xacro:kingfisher_base />
  <!-- USV dynamic model -->
  <xacro:usv_gazebo name="kingfisher"/>

  <!-- Add velodyne -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440">
    <origin xyz="0 0 0.17" rpy="0 0 0" />
  </VLP-16>


</robot>